html {
  scroll-behavior: smooth;
}

.blog {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 56px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  aspect-ratio: 400;
}

.title {
  text-align: center;
}

.body {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}