html {
  scroll-behavior: smooth;
}

.title {
  text-align: center;
}

.bicycle {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* Reset default margin and padding for body */
body {
  margin: 0;
  padding: 0;
}

/* Create a container to hold the image and text overlay */
.container {
  position: relative; /* This is important for positioning the text */
  max-width: 100%;
}

/* Style the image to be responsive */
img {
  width: 100%;
  height: 200px;
}

/* Style the text overlay */
.text-overlay {
  position: absolute;
  top: 50%; /* Adjust as needed to position the text vertically */
  left: 50%; /* Adjust as needed to position the text horizontally */
  transform: translate(-50%, -50%); /* Center the text horizontally and vertically */
  background-color: rgba(0, 0, 0, 0); /* Background color for the text overlay */
  padding: 20px; /* Adjust as needed to add spacing around the text */
  color: #000000; /* Text color */
  text-align: center; /* Center-align the text */
  font-family: 'Permanent Marker', cursive;
}

/* Style the text elements within the overlay */
.text-overlay h1 {
  font-size: 56px;
  margin: 0;
}

.text-overlay p {
  font-size: 18px;
  margin: 0;
}